*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;

}
body{
    background: #000000;
    color: #FFB6C1;

}


.container{
    padding: 50px 50%;
}

    nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul#horizontal-list {
	min-width: 500px;
	list-style: none;
    font-weight: bold;
	padding: 0;
	}
    
	ul#horizontal-list li {
		display: inline;
	}
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: #168db4;
        text-align: center;
        padding: 10px;

        text-decoration: none;
      }
     
      
     li a:hover {
        background-color: #dfbede;
     }
     .list{
        
        padding-left: 40%;
        font-size: large;
        margin-top: 50px;
        
        
        
     }
     .line{
        font-size: medium;
        padding-left: 35%;
     }
     .social{
        padding-left: 40%;
        padding-top: 5%;
     }
    .list{
        
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            font-size: 40px;
        
    }
   
          
     
